* text=auto !eol
/Makefile -text
/apertium-tgk.post-tgk.dix -text
/apertium-tgk.tgk.acx -text
/apertium-tgk.tgk.dix -text
/apertium-tgk.tgk.tsx -text
/tgk.prob -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
